.d-container{
    margin-top: 90px;
    margin-left: 100px;
    margin-right: 100px;
    font-family: Poppings,'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.d-container h1{
    color: crimson;
    font-size: x-large;
    margin-bottom: 35px;
}
.user-activities{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.user-activities .unit-activity{
    width: 250px;
    background-color: #ddd;
    padding: 15px;
    border-radius: 12px;
    box-shadow: 1px 1px 1px 1px rgba(0,0,0,.4);
    margin-bottom: 12px;
    margin-left:17px;
    position: relative;
    height: 150px;
}
.user-activities .unit-activity h1{
    text-align: center;
}
.user-activities .unit-activity span{
    position: absolute;
    bottom: 0;
    margin-bottom: 7px;
    width: 90%;   
    text-align: center;
    font-size: large;
    font-weight: bold;
}
.user-info{
  line-height: 35px;
  margin-bottom: 12px;
}
.user-info h2{
    font-size:19px;
    color: crimson;
}
.user-info h2 span{
    color: black;
}
.home-container{
  margin-left: 100px;
  margin-top: -0px;
}
