body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: #eee;
    color: crimson;
}
.container{
    display: flex;
    justify-content: space-between;
    font-family: inherit;
    flex-wrap: wrap;
    margin-left:120px;
    margin-right: 120px;
}
button{
    background-color: #ddd;
    padding: 7px;
    border-radius: 7px;
    border: 1px solid crimson;
    cursor: pointer;
    font-size: small;
    font-family: inherit;
    width: 100%;
    font-weight: bold;
    color: red;
}
button:hover{
    background-color: #eee;
    transition: background ease-out 2s;
}
form{
    background-color: white;
    box-shadow: 1px 1px 1px 1px rgba(0,0,0,.4);
    height: fit-content;
    padding: 35px;
    border-radius: 15px;
}
h1{
    text-align: center;
    margin-bottom: 45px;
}
img{
    width: 250px;
    height: 250px;
}
input, select{
    display: block;
    padding: 10px;
    border: 1px solid black;
    margin-bottom: 30px;
    font-family: inherit;
    border-radius: 7px;
}
select{
    width: 190px;
}
p{
    color:black !important;
}
a{
    color:crimson;
}
input[type="file"]{
    width: 120px;
    border: none;
    padding: 0px;
    border-radius: 0px;
}
.helptext{
    display: none;
}
@media(max-width: 900px){
    .container{
        display: block;
        margin: auto;
        
    }
    img{
        display: block;
        margin: auto;
        width: 150px;
        height: 150px;
        margin-bottom: 30px;
    }
    form{
    background-color: white;
    box-shadow: 1px 1px 1px 1px rgba(0,0,0,.4);
    height: fit-content;
    padding: 10%;
    border-radius: 15px;
    width: fit-content;
    margin: auto;
}

}
