{% load static %}
<footer>
    <div class="footer">
    <div class="slide">
      <h1>Welcome to nCrane</h1>
      <p>
        nCrane is an eLearning Platform dedicated to assisting students with Academics by Preparing them for Exams, Gaining general knowledge on topics,
        and helping Eachother out!
        <br>
        The Goal is to make nCrane the StackOverFlow of Academics!
      </p>
    </div>
    <div class="slide">
      <h2>Quick Links</h2>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/dashboard">Dashboard</a></li>
        <li><a href="/contact">Contact</a></li>
        <li><a href="/test">Take Test</a></li>
        <li><a href="/ebooks">Download eBooks</a></li>
        <li><a href="/hostexam">Host Exam</a></li>
        <li><a href="/logout">Logout</a></li>
      </ul>
      </div>
    <div class="slide">
      <h2>Connect with us on our Socials:</h2>
      <ul>
        <li><a href="#">Facebook</a></li>
        <li><a href="#">Instagram</a></li>
        <li><a href="#">Twitter</a></li>
      </ul>
    </div>
    <br>
  </div>
  <p style="color:white">&copy; NCRANE 2023</p>
  </footer>
  <script src="{% static 'app.js' %}"></script>