<section id="header" class="h-16">
    <div class="header w-full">
      <div class="nav-bar w-full">
        <div class="brand">
          <a href="/">
            <h1 class="text-3xl"><span>NC</span>R<span>AN</span>E</h1>
          </a>
        </div>
        <div class="nav-list">
          <div class="hamburger" title="Menu">
            <div class="bar"></div>
          </div>
          <ul>
            <li><a href="/" data-after="Home" id="home-link">Home</a></li>
            <li><a href="#posts" data-after="Posts" id="dashboard-link">Posts</a></li>
            <li><a href="/test" data-after="Test" id="test-link">Test</a></li>
            <li><a href="/dashboard" data-after="Dashboard" id="dashboard-link">Dashboard</a></li>
            <li><a href="/ebooks" data-after="eBooks" id="ebooks-link">eBooks</a></li>
            <li><a href="/contact" data-after="Contact" id="contact-link">Contact</a></li>
            <li><a href="/logout" data-after="Logout" id="logout-link">Logout</a></li>
          </ul>
        </div>
      </div>
    </div>
  </section>
