<div class="study-mode-container">
    {% for question in theory_questions %}
      <div class="unit-question">
          <div class="question-box">
              <h1><span class="q-num"></span> &nbsp; {{ question.question | safe }}</h1>
          </div>
          <div class="buttons">
              <button>Show Answer</button>
          </div>
          <div class="answer">
            <div class="answer-box">
              <span>Answer:&nbsp;</span> <span style="color:crimson; font-weight: bold;">{{ question.ans | safe }}</span>
            </div>
              <a href="theory/explanation/{{question.id}}">Show Explanation</a>
          </div>
      </div>
      {% endfor %}
</div>
