{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>nCrane | Login</title>
    <link rel="stylesheet" href="{% static 'register.css' %}">
</head>
<body>
    <h1>Sign In - NCRANE</h1>
        <div class="container">
                <img src="{% static 'login-img.jpeg' %}">
            <form method="post">
                {% for message in messages %}
                <h3> {{message}} </h3>
                {% endfor %}
                {% csrf_token %}
                <label>Username: <input  id="username"  placeholder="Aa" type="text" name="username"></label>
                <label>Password: <input  id="password2"  placeholder="***" type="password" name="password_signin"></label>
                <button>Sign In</button>

                <p>Don't have an account?<br><a href="/register">Sign Up</a>.</p>
            </form>
        </div>
</body>
</html>